body {
  margin: 0;
  padding: 0;
}
.shop {
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(190, 190, 190);
}

.header {
  height: 50px;
  background-color: rgb(45, 134, 67);
  flex: 0 0 auto;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 auto;
  min-height: calc(100vh - 100px);
  background-color: rgb(140, 223, 153);
}

.footer {
  height: 50px;
  background-color: rgb(45, 134, 67);
  flex: 0 0 auto;
}

.size {
  height: 100px;
  border-bottom: 1px solid gray;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.size_item {
  width: 300px;
  padding: 10px 10px;
  background-color: rgb(13, 117, 39);
}

.size_item p {
  margin: 0;
}

.stuffing {
  height: 100px;
  border-bottom: 1px solid gray;
}

.toppings {
  height: 100px;
  border-bottom: 1px solid gray;
}
